[Unit]
Description=Headless media looper
After=multi-user.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 #PYTHON_SCRIPT_PATH#
WorkingDirectory=/home/pi

[Install]
WantedBy=multi-user.target
