[Unit]
Description=Headless media looper
After=multi-user.target

[Service]
Type=simple
User=pi
ExecStart=./videolooper.sh
WorkingDirectory=/home/pi

[Install]
WantedBy=multi-user.target
